.articles a {
    color: white;
    text-decoration: none;
}

.articles {
    height: 7rem;
}

.articleTitles {
    background: linear-gradient(to right, #11ebeb23, #9e5a63b2);
    height: 5rem;
    margin-left: 5%;
    margin-right: 5%;
    border: 0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: initial;
}

.articleInfo {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-top: -2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#author {
    width: 33%;
}

#votes {
    width:33%;
}

#selfText {
    width: 6rem;
    height: 2rem;
}

#votes img {
      height: 1em;
      width: 1em;
}



